.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.state {
  padding: 40px 16px;
  color: #798DB4;
  font-size: 14px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 25px;
  font-weight: 600;
  color: #3D69B0;
  text-align: start;
}

.subtitle {
  font-size: 13px;
  color: #798DB4;
  margin-top: 4px;
}

.content {
  flex: 1;
  display: grid;
  grid-template-columns: 1.1fr 1.9fr; 
  gap: 16px;
  min-height: 360px;
}

.listColumn {
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #ABBBDB;
  overflow: hidden;
}

.detailColumn {
  background-color: #DFECFF;
  border-radius: 20px;
  border: 1px solid #ABBBDB;
  padding: 20px 24px;
}

@media (prefers-color-scheme: dark){
  .title{
    color: #6CA9FF;
  }
  
  .subtitle {
    color: #8b9992;
  }
  .listColumn {
    background-color: #0F172A;
    border: 1px solid #0F172A;
  }

  .detailColumn {
    background-color: #0F172A;
    border: 1px solid #0F172A;
  }
}
