.state {
  padding: 32px 8px;
  font-size: 13px;
  color: #798DB4;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 760px;
}

/* 상단 */
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
  padding-bottom: 12px;
  border-bottom: 3px solid #ABBBDB;
}

.name {
  font-size: 20px;
  font-weight: 900;
  color: #3D69B0;
}

.code {
  margin-top: 4px;
  font-size: 12px;
  color: #8b9992;
  text-align: start;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 8px;
}

.badge {
  font-size: 11px;
  padding: 2px 8px;
  border-radius: 999px;
  background-color: #5F88D5;
  color: #ffffff;
}

.statusReady {
  color: #2b6cb0; 
}

.statusActive {
  color: #2c7a4b; 
}

.statusInactive {
  color: #b7791f; 
}

.statusClosed {
  color: #c53030; 
}

.statusDefault {
  color: #6c7a74; 
}

/* 섹션 */
.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionTitle {
  font-size: 15px;
  font-weight: 600;
  color: #3A6DCC;
  text-align: start;
}

.summaryRow{
  display: flex;
  justify-content: space-around;
  padding: 25px;
  border-radius: 16px;
  background-color: #ffffff;
}
@media (prefers-color-scheme: dark){
  .summaryRow{
    background-color: #334155;
  }
}

.flex{
  display: flex;
}

.grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px 24px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  font-size: 15px;
  color: #798DB4;
}

.value {
  font-size: 17px;
  color: #2C56A6;
  word-break: break-all;
}

/* 더보기 버튼 */
.moreWrapper {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.moreBtn {
  padding: 6px 14px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #E7EFFC;
  background-color: #E7EFFC;
  color: #2C56A6;
  font-size: 12px;
  cursor: pointer;
}

.moreBtn:hover {
  background-color: #E7EFFC;
}

@media (prefers-color-scheme: dark){
  .header {
    border-bottom: 5px solid #1B305B;
  }

  .name {
    color: #6998e4;
  }

  .code {
    color: #8b9992;
  }

  .badge {
    background-color: #446bb8;
    color: #ffffff;
  }

  .sectionTitle {
    color: #A8C6FF;
  }

  .label {
    color: #ffffff;
  }

  .value {
    color: #8b9dda;
  }

  .moreBtn {
    border: 1px solid #334155;
    background-color: #334155;
    color: #ffffff;
  }

  .moreBtn:hover {
    background-color: #445670;
  }
}