.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

.item {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  font-size: 15px;
  color: #182b49;
}

.value {
  font-size: 18px;
  font-weight: 600;
  color: #3A6DCC;
}

@media (prefers-color-scheme: dark){
  .label {
    color: #8DB3FF;
  }

  .value {
    color: #ffffff;
  }
}